html, body {
    height: 100%;
}

.container, .container .cell {
    height: 100%;
    display: flex;
}

.side-menu ul {
    background-color: #333;
    height: 100%;
}

.side-menu ul li a {
    color: gray;
}

.side-menu a.selected {
    font-weight: bold;
    color: white;
}

.header {
    padding: 1.0em;
    border-bottom: 1px solid darkgray;
}

.logo {
    padding-top: 8px;
    padding-left: 8px;
    width: 50px;
}

.discovery-container {
    flex-grow: 1;
    background-color: white;
    overflow-y: scroll;
}

.discovery-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.error-message {
    padding: 0.75em;
    background-color: lightcoral;
    font-weight: bold;
    color: black;
}

/**
* Service list
*/
.list {
    list-style-type: none;
    border-right: 1px solid #e2e2e2;
}

.item {
    color: black;
    padding: 1em;
    border-bottom: 1px solid #e2e2e2;
    display: block;
    border-right: 5px solid white;
    display: flex;
    flex-direction: column;
}

.list-item-selected .item {
    border-right: 5px solid black;
}

.item:hover {
    background-color: #e2e2e2;
    border-right-color: black;
    color: black;
}

.item:visited {
    color: black;
}

.item__title {
    font-weight: bold;
    font-size: 12px;;
}

.item__desc {
    font-size: 10px;
}
