<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Annotator error</title>
</head>
<body>
    ServiceSid or TranscriptSid is missing as URL query param
</body>
</html>
