html, body {
    height: 100%;
}

.container, .container .cell {
    height: 100%;
}

.side-menu ul {
    background-color: #333;
    height: 100%;
}

.side-menu ul li a {
    color: gray;
}

.task-header {
    padding: 1.0em;
    border-bottom: 1px solid darkgray;
}

.logo {
    padding-top: 8px;
    padding-left: 8px;
    width: 50px;
}

.annotator-container {
    overflow: hidden;
    background-color: #f1f1f1;
}

.annotator-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

.task-list {
    list-style-type: none;
    border-right: 1px solid #e2e2e2;
}

.task-name {
    color: black;
    padding: 1em;
    border-bottom: 1px solid #e2e2e2;
    display: block;
    border-right: 5px solid white;
}

.task-item-selected .task-name {
    border-right: 5px solid black;
}

.task-name:hover {
    background-color: #e2e2e2;
    border-right-color: black;
    color: black;
}

.task-name:visited {
    color: black;
}

.select-transcript-placeholder {
    padding: 1em;
}

.error-message {
    padding: 0.75em;
    background-color: lightcoral;
    font-weight: bold;
    color: black;
}